body
{
	background-image:url(6.jpg);
	background-attachment:fixed;
}

.la{
	width:60px;
	height:60px;
	font-size:2em;
	font-family:Sans-Serif;
    text-shadow: 1px 1px 2px #000000;
    font-family:Calibri;
}

table
{
	position:absolute;
	top:140px;
	left:43%;
	right:43%;
	width:180px;
	height:180px;
}

p
{
	font-size:3em;
	color:white;
	position:absolute;
	width:99%;
	top:0;
	text-align:center;
	line-height:1em;
    text-shadow: 1px 1px 4px grey;
}

.developer
{
    line-height:190%;
    font-size:1.4em;
    font-family:Calibri Light;
    font-weight:600;
    color:black;
    text-align:center;
    text-shadow: 1px 1px 4px #ffffff;
	position:absolute;
	bottom:30%;
	left:30%;
	right:30%;
	text-align:center;	
}

#submit
{
	position:absolute;
	left:60%;
	top:50%;
	width:100px;
}